{
  "openapi": "3.0.4",
  "info": {
    "title": "MAGDA geefPersoon REST",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://implementatie.data.vlaanderen.be",
      "description": "Basis URL"
    }
  ],
  "paths": {
    "/id/Persoon/{id}": {
      "get": {
        "summary": "Natuurlijk persoon.",
        "description": "Natuurlijk persoon.",
        "operationId": "PersoonGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Persoon object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persoon object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Persoon"
                }
              }
            },
            "links": {
              "Persoon.contactinfo": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.contactinfo/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Contactinfo` op te halen."
              },
              "Persoon.geslacht": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.geslacht/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Geslacht` op te halen."
              },
              "Persoon.isHoofdVan": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.isHoofdVan/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Gezin` op te halen."
              },
              "Persoon.heeftBurgerlijkeStaat": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.heeftBurgerlijkeStaat/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `BurgerlijkeStaat` op te halen."
              },
              "Persoon.heeftGeboorte": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.heeftGeboorte/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Geboorte` op te halen."
              },
              "Persoon.heeftOverlijden": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.heeftOverlijden/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Overlijden` op te halen."
              },
              "Persoon.heeftInwonerschap": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.heeftInwonerschap/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Inwonerschap` op te halen."
              },
              "Persoon.heeftPersoonsrelatie": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.heeftPersoonsrelatie/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Persoonsrelatie` op te halen."
              },
              "Persoon.isLidVan": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.isLidVan/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Gezin` op te halen."
              },
              "Persoon.bron": {
                "operationId": "PersoonGET",
                "parameters": {
                  "id": "$response.body#/Persoon.bron/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Organisatie` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Plaats/{id}": {
      "get": {
        "summary": "Een ruimtelijk gebied of benoemde plaats.",
        "description": "Een ruimtelijk gebied of benoemde plaats.",
        "operationId": "PlaatsGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Plaats object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plaats object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Plaats"
                }
              }
            },
            "links": {
              "Plaats.identificator": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "id": "$response.body#/Plaats.identificator/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Identificator` op te halen."
              },
              "Plaats.plaats": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "id": "$response.body#/Plaats.plaats/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Plaats` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PlaatsGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Gezinsrelatie/{id}": {
      "get": {
        "summary": "Relatie tussen leden van eenzelfde gezin.",
        "description": "Relatie tussen leden van eenzelfde gezin.",
        "operationId": "GezinsrelatieGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Gezinsrelatie object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gezinsrelatie object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Gezinsrelatie"
                }
              }
            },
            "links": {
              "Gezinsrelatie.gezinsrelatietype": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "id": "$response.body#/Gezinsrelatie.gezinsrelatietype/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Gezinsrelatietype` op te halen."
              },
              "Gezinsrelatie.vanPersoon": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "id": "$response.body#/Gezinsrelatie.vanPersoon/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Persoon` op te halen."
              },
              "Gezinsrelatie.metPersoon": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "id": "$response.body#/Gezinsrelatie.metPersoon/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Persoon` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GezinsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Persoonsrelatie/{id}": {
      "get": {
        "summary": "Relatie tussen twee of meer personen.",
        "description": "Relatie tussen twee of meer personen.",
        "operationId": "PersoonsrelatieGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Persoonsrelatie object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persoonsrelatie object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Persoonsrelatie"
                }
              }
            },
            "links": {
              "Persoonsrelatie.vanPersoon": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "id": "$response.body#/Persoonsrelatie.vanPersoon/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Persoon` op te halen."
              },
              "Persoonsrelatie.metPersoon": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "id": "$response.body#/Persoonsrelatie.metPersoon/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Persoon` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsrelatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Overlijden/{id}": {
      "get": {
        "summary": "Het doodgaan van een Persoon.",
        "description": "Het doodgaan van een Persoon.",
        "operationId": "OverlijdenGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Overlijden object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Overlijden object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Overlijden"
                }
              }
            },
            "links": {
              "Overlijden.plaats": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "id": "$response.body#/Overlijden.plaats/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Plaats` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "OverlijdenGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Persoonsgebeurtenis/{id}": {
      "get": {
        "summary": "Belangrijke gebeurtenis ih leven ve persoon.",
        "description": "Belangrijke gebeurtenis ih leven ve persoon.",
        "operationId": "PersoonsgebeurtenisGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Persoonsgebeurtenis object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persoonsgebeurtenis object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Persoonsgebeurtenis"
                }
              }
            },
            "links": {
              "Persoonsgebeurtenis.plaats": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "id": "$response.body#/Persoonsgebeurtenis.plaats/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Plaats` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "PersoonsgebeurtenisGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Geboorte/{id}": {
      "get": {
        "summary": "Het ter wereld komen van een Persoon.",
        "description": "Het ter wereld komen van een Persoon.",
        "operationId": "GeboorteGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Geboorte object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geboorte object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Geboorte"
                }
              }
            },
            "links": {
              "Geboorte.plaats": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "id": "$response.body#/Geboorte.plaats/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Plaats` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "GeboorteGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Huwelijk/{id}": {
      "get": {
        "summary": "Een door burgerlijk of religieus recht geregelde samenlevingsvorm van twee personen.",
        "description": "Een door burgerlijk of religieus recht geregelde samenlevingsvorm van twee personen.",
        "operationId": "HuwelijkGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Huwelijk object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Huwelijk object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Huwelijk"
                }
              }
            },
            "links": {
              "Huwelijk.vanPersoon": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "id": "$response.body#/Huwelijk.vanPersoon/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Persoon` op te halen."
              },
              "Huwelijk.metPersoon": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "id": "$response.body#/Huwelijk.metPersoon/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Persoon` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HuwelijkGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Registratie/{id}": {
      "get": {
        "summary": "Opname van de Persoon in het register.",
        "description": "Opname van de Persoon in het register.",
        "operationId": "RegistratieGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Registratie object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registratie object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Registratie"
                }
              }
            },
            "links": {
              "Registratie.dossierstatus": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "id": "$response.body#/Registratie.dossierstatus/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Dossierstatustype` op te halen."
              },
              "Registratie.geregistreerdPersoon": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "id": "$response.body#/Registratie.geregistreerdPersoon/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `GeregistreerdPersoon` op te halen."
              },
              "Registratie.vorigeRegistratie": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "id": "$response.body#/Registratie.vorigeRegistratie/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Registratie` op te halen."
              },
              "Registratie.volgendeRegistratie": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "id": "$response.body#/Registratie.volgendeRegistratie/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Registratie` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "RegistratieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Versie/{id}": {
      "get": {
        "summary": "Entiteit gedurende een bepaalde periode in de databank.",
        "description": "Entiteit gedurende een bepaalde periode in de databank.",
        "operationId": "VersieGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Versie object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versie object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Versie"
                }
              }
            },
            "links": {
              "Versie.bron": {
                "operationId": "VersieGET",
                "parameters": {
                  "id": "$response.body#/Versie.bron/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Organisatie` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "VersieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "VersieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "VersieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "VersieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "VersieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "VersieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "VersieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "VersieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "VersieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/FormeleOrganisatie/{id}": {
      "get": {
        "summary": "Een erkende Organisatie,erkend in brede zin of  meer specifiek in juridische zin met bijbehorende rechten en plichten.",
        "description": "Een erkende Organisatie,erkend in brede zin of  meer specifiek in juridische zin met bijbehorende rechten en plichten.",
        "operationId": "FormeleOrganisatieGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een FormeleOrganisatie object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FormeleOrganisatie object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/FormeleOrganisatie"
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "FormeleOrganisatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "FormeleOrganisatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "FormeleOrganisatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "FormeleOrganisatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "FormeleOrganisatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "FormeleOrganisatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "FormeleOrganisatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "FormeleOrganisatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "FormeleOrganisatieGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/HttpApiProbleemdetail/{id}": {
      "get": {
        "summary": "Meer getedailleerde beschrijving van de fout in een HTTP response.",
        "description": "Meer getedailleerde beschrijving van de fout in een HTTP response.",
        "operationId": "HttpApiProbleemdetailGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een HttpApiProbleemdetail object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HttpApiProbleemdetail object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpApiProbleemdetail"
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HttpApiProbleemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HttpApiProbleemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HttpApiProbleemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HttpApiProbleemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HttpApiProbleemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HttpApiProbleemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HttpApiProbleemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HttpApiProbleemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "HttpApiProbleemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Inwonerschap/{id}": {
      "get": {
        "summary": "Het feit dat een Persoon verblijf houdt in een plaats of land.",
        "description": "Het feit dat een Persoon verblijf houdt in een plaats of land.",
        "operationId": "InwonerschapGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Inwonerschap object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inwonerschap object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Inwonerschap"
                }
              }
            },
            "links": {
              "Inwonerschap.persoon": {
                "operationId": "InwonerschapGET",
                "parameters": {
                  "id": "$response.body#/Inwonerschap.persoon/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Persoon` op te halen."
              },
              "Inwonerschap.jurisdictie": {
                "operationId": "InwonerschapGET",
                "parameters": {
                  "id": "$response.body#/Inwonerschap.jurisdictie/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Jurisdictie` op te halen."
              },
              "Inwonerschap.heeftVerblijfplaats": {
                "operationId": "InwonerschapGET",
                "parameters": {
                  "id": "$response.body#/Inwonerschap.heeftVerblijfplaats/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Verblijfplaats` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "InwonerschapGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
            },
            "links": {
              "ProbleemDetails.type": {
                "operationId": "InwonerschapGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbleemDetails"
                }
              }
[...]
